.item-container {
  width: 400px;
  height: 780px;
  border-radius: 12px;
  border: 3px solid black;
  padding: 1rem;
  margin: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-content {
  border-radius: 6px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  transition: all 400ms ease;

  &:hover {
    background: black;
    color: #fefefe;
  }
}

.data-header {
  font-size: 24px;
}

.data-content {
  font-size: 18px;
  margin-bottom: 1rem;
}