@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

li {
  list-style-type: none;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
  padding-top: 100px;

  .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;

    &:hover {
      background-color: #5AB1BB;
      color: #fff;
    }
  }

  .active{
    background-color: #5AB1BB;
    color: #fff;
  }
}

@media screen and (max-width: 600px){
  .pagination{
    font-size: 1.2rem;
    gap: 1px;
  }
}

@media screen and (max-width: 420px){
  .pagination{
    font-size: 1rem;
    gap: 1px;
  }
}

@media screen and (max-width: 385px){
  .pagination{
    font-size: 0.9rem;
    gap: 1px;
  }
}

@media screen and (max-width: 370px){
  .pagination{
    font-size: 0.9rem;
    gap: 1px;
  }
}

@media screen and (max-width: 360px){
  .pagination{
    font-size: 0.8rem;
    gap: 1px;
  }
}

